@page
@model HesabuPOS.Webinterface.Pages.AboutModel
@{
}

<p>HesabuPOS by Tobias Kattanek</p>
<p>2022</p>
<p>You are currently using the Webinterface</p>
<p>Access Data directly from the Server</p>

<p>Technologies in use:</p>
<p>C#</p>
<p>ASP.NET CORE</p>
<p>.NET 6.0</p>
<p>MongoDB</p>
<p>SwaggerUI</p>

<p>OpenSource Project can be found here: <a href="https://github.com/realTobby/HesabuPOS">GitHub</a></p>

